/* CSS for website */
.book-summary ul.summary li a, .book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    position: relative;
}

#guida-per-il-ricongiungimento-familiare-tra-cittadini-extra-ue{
    font-size: 1.65em;
    color: #00ADEF;
}

footer #about{
    font-size: 0.85em !important;
    color: #364149 !important;
}

footer #licenza{
    font-size: 0.85em !important;
    color: #364149 !important;
}
